<!-- component -->
<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-gray-700 shadow sm:items-baseline w-full text-white">

  <div class="mb-2 sm:mb-0 flex flex-row">
    <div>
      <span class="text-lg font-bold  text-grey-dark">App Empleados </span>
    </div>
  </div>

  <div class="sm:mb-0 self-center">

    <a href="#" class="text-md no-underline text-white hover:text-blue-600 ml-2 px-1">Link1</a>
    <a href="#" class="text-md no-underline text-grey-darker hover:text-blue-600 ml-2 px-1">Link2</a>

    <a href="#" class="text-md no-underline text-grey-darker hover:text-blue-600 ml-2 px-1">Link3</a>


  </div>
</nav>
